
.job-column {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: #7798e6;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(223, 9, 9, 0.1);
    margin: 10px;
    max-width: 300px;
    flex: 1 1 250px;
}

.job-column h1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.job-column li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.job-column ul {
    list-style: none;
    padding: 0;
}

.job-column img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-items: center;
}