.job-manager{
    border: solid 5px greenyellow;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.job-columns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 10px;
    align-items: flex-start;
    width: 100%;
}

.job-column{
    border: 3px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}

.job-card{
    border: 2px solid blue;
    background-color: azure;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 7px;
}

.jobCard-title{
    margin: 0;
    margin-bottom: 7px;
}

.category{
    border: 1px solid blue;
     margin-right: 5px;
    font-size: 0.9em; 
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius:  4px;
    cursor: pointer;
    width: 86px;
}